body {
  background-image: url('https://wallpapercave.com/wp/wp3354896.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 40px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  padding-left: 50px;
  text-align: center;
}

.content {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Add width to align elements */
}

.info {
  display: flex;
  align-items: center;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(100px); /* Add blur effect to the topbar */
  background-color: rgba(126, 13, 255, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.textbox {
  width: 350px;
  height: 30px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid white;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px); /* Add a blur effect to the textbox */
  transition: width 0.3s, height 0.3s;
  z-index: 1100; /* Higher z-index value for the textbox */
  margin-left: 20px; /* Adjust margin for space between elements */
}

h1 {
  margin-bottom: 10px;
}

.thumbnail-container {
  padding-right: 780px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Styles for the thumbnail image */
#thumbnailImage {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.most-tracked-games {
  margin-left: auto;
  text-align: right;
  width: 30%;
  padding-top: 50px;
  background-color: rgba(114, 63, 209, 0.5);/* Background color with transparency */
  border-radius: 10px; /* Add rounded corners */
  padding: 20px; /* Add padding to the section */
  margin-top: 80px;
}

.most-tracked-games h2 {
  margin-bottom: 10px;
}

/* Add a new class to center the Place ID results */
.placeIdResult {
  margin-top: 20px;
  text-align: left;
  max-width: 600px; /* Increase the maximum width for larger display */
  margin-left: auto;
  margin-right: auto;
  font-size: 20px; /* Increase the font size for larger text */
}


/* Add these styles to your existing CSS */
.dropdown {
  position: relative;
  display: inline-block;
  width: 120px; /* Adjust the width as desired */
}

.dropbtn {
  background-color: rgba(13, 207, 255, 0.2);
  color: rgb(34, 26, 26);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 80px;
  width: 1700px;
  border-radius: 10px;
  backdrop-filter: blur(100px); /* Add blur effect to the dropdown button */
}


.dropdown-button svg {
  float: left;
  margin-right: 5px; /* Add spacing between the icon and text */
  margin-bottom: 4px; /* Add margin at the bottom of the SVG icon */
  width: 24px; /* Adjust the width of the SVG icon */
  height: 24px; /* Adjust the height of the SVG icon */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(32, 30, 30, 0.8); /* Semi-transparent background */
  width: 1700px;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  backdrop-filter: blur(8px); /* Add blur effect to the dropdown content */
}

.dropdown-content p {
  margin: 5px 0;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.roinfo-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: white;
}

/* Updated CSS for the game detail dropdown */
.game-detail-dropdown {
  margin-bottom: 10px; /* Add space between dropdowns */
}

.dropdown-text {
  display: block; /* Align dropdown text to the left */
  line-height: 1.5; /* Adjust line height */
  font-family: 'Poppins', sans-serif; /* Change font to Poppins */
  color: white; /* Set text color to white */
  font-size: 18px; /* Increase font size for dropdown text */
  text-align: left;
}

.dropdown-button svg {
  width: 40px; /* Increase width of the SVG icon */
  height: 40px; /* Increase height of the SVG icon */
}

.faq-section {
  margin-top: 50px; /* Adjust as needed */
  width: 70%; /* Set width of the FAQ section */
  padding-left: 60px;
}

.faq-item {
  margin-bottom: 20px; /* Add spacing between FAQ items */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Add a separator between items */
  padding-bottom: 20px; /* Add padding at the bottom of each item */
}